<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hba.testing.notificatingspcedlearning">
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name_main_search"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".Activity.MainSearch"
            android:label="@string/app_name_main_search"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.ItemDetail"
            android:label="@string/app_name_item_detail"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="ITEM_ID"/>
            </intent-filter>
        </activity>
        <activity android:name=".Activity.AddItem"
            android:label="Add Item"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="NEW_ITEM"/>
                <action android:name="NEW_ONLINE_ITEM"/>
            </intent-filter>
        </activity>
        <activity android:name=".Activity.CategoryList"
            android:label="Category List"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".Activity.CategoryDetail"
            android:label="Category Detail"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="CATEGORY_ID"/>
            </intent-filter>
        </activity>
        <activity android:name=".Activity.OnlineSearch"
            android:label="Online Search"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <service android:name=".Service.ReminderService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE">
        </service>
        <service android:name=".Service.ItemManagerService"
            android:exported="true">
        </service>
        <service android:name=".Service.MaintainanceService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE">
        </service>
    </application>
</manifest>
